<?xml version="1.0"?>
<configuration>
	<configSections>
		<!--thrift client config-->
		<section name="thriftClient" type="Thrift.Client.Config.ThriftConfigSection, Thrift.Client"/>
	</configSections>
	<thriftClient>
		<services>
			<service name="HentuDemoService" client="Hentu.Demo.Service.Thrift.AsyncHentuDemoService+Client,Hentu.Demo.Service.Thrift" socketBufferSize="8192" messageBufferSize="8192" sendTimeout="3000" receiveTimeout="3000">
				<discovery>
					<!--1:直接server配置-->
					<servers>
					<!--put you server here-->
					<server host="127.0.0.1" port="8400"/>
					</servers>
					<!--2:zookeeper发现-->
					<!--<zookeeper path="zookeeper.config" name="thrift" znode="com.sodao.demo.xxxservice"/>-->
				</discovery>
			</service>
		</services>
	</thriftClient>
	<!--thrift client config end-->
</configuration>