<?xml version="1.0"?>
<configuration>
	<configSections>
		<!--thrift server config-->
		<section name="thriftServer" type="Thrift.Server.Config.ThriftConfigSection, Thrift.Server"/>
	</configSections>
	<thriftServer>
		<services>
			<service name="HentuDemoService" port="10000" socketBufferSize="8192" messageBufferSize="8192" maxMessageSize="102400" maxConnections="2000" serviceType="" processorType="Hentu.Demo.Service.Thrift.AsyncHentuDemoService+Processor,Hentu.Demo.Service.Thrift">
				<registry>
					<zookeeper path="zookeeper.config" name="thrift" owner="owner" znode="com.sodao.demo.xxxservice"/>
				</registry>
			</service>
		</services>
	</thriftServer>
	<!--thrift server config end-->
</configuration>