<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="thriftServer" type="Thrift.Server.Config.ThriftConfigSection, Thrift.Server" />
  </configSections>
  
  <!--thrift server-->
  <thriftServer>
    <services>
      <service name="Hentu.Demo.Service" port="14388" serviceType="Hentu.Demo.Service.ThriftService,Hentu.Demo.Service" processorType="Hentu.Demo.Service.Thrift.AsyncHentuDemoService+Processor,Hentu.Demo.Service.Thrift">
        <!--<registry>
          <zookeeper path="dllconfigs/zookeeper.config" owner="sodao" name="thrift" znode="zk.hentu.demo.service]" />
        </registry>-->
      </service>
    </services>
  </thriftServer>

  <appSettings>
    <add key="ServiceName" value="Hentu.Demo.Service" />
    <add key="ServiceDisplayName" value="Hentu.Demo.Service" />
    <add key="ServiceDescription" value="搜道Thrift服务说明" />
  </appSettings>
</configuration>